@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');
body {
 font-family: 'Roboto', sans-serif;
}
.btn {
 border-radius: 20px;
 padding: 10px 20px;
}
.form-control {
 border-radius: 10px;
}
.card {
 border: none;
}